.menu {
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu__title {
  display: flex;
  justify-content: center;
  margin: 100px 0 24px 0;
  font-family: "lnter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 800px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 100px;
}
